<!-- MENU SECTION STARTS -->

<section class="menu" id="menu"> 

    <h1 class="heading"> <span> JOSE'S MENU</span></h1>

    <ul class="controls">

        <li class="buttons" data-filter="all">ALL</li>
        <li class="buttons" data-filter="popular">POPULAR</li>
        <li class="buttons" data-filter="meats">MEATS</li>
        <li class="buttons" data-filter="chicken">CHICKEN</li>
        <li class="buttons" data-filter="veggies">VEGGIES</li>

    </ul>

    <div class="image-container">

        <div class="image meats">
            <img src="../../assets/images/Pepperoni.jpg" alt="">
            <figcaption>PEPPERONI</figcaption>
        </div>
    
        <div class="image meats">
            <img src="../../assets/images/MeatLovers.jpg" alt="">
            <figcaption>MEAT LOVERS</figcaption>
        </div>

        <div class="image meats">
            <img src="../../assets/images/Bacon.jpg" alt="">
            <figcaption>BACON</figcaption>
        </div>

        <div class="image meats">
            <img src="../../assets/images/Sausage.jpg" alt="">
            <figcaption>SAUSAGE</figcaption>
        </div>

        <div class="image chicken">
            <img src="../../assets/images/Chicken.jpg" alt="">
            <figcaption>BUFFALO CHICKEN</figcaption>
        </div>

        <div class="image chicken">
            <img src="../../assets/images/BBQ.jpg" alt="">
            <figcaption>BBQ CHICKEN</figcaption>
        </div>

        <div class="image veggies">
            <img src="../../assets/images/Veggies.jpg" alt="">
            <figcaption>VEGGIES</figcaption>
        </div>

        <div class="image veggies">
            <img src="../../assets/images/Pineapple.jpg" alt="">
            <figcaption>PINEAPPLE</figcaption>
        </div>
    </div>
</section>

<!-- MENU SECTION ENDS -->