<!-- ABOUT SECTION START -->

<section class="about" id="about">

    <h1 class="heading"> <span> ABOUT US </span> </h1>

    <div class="row">

        <div class="content">
            <h1>Jose Roni was established in 1985. We strive everyday to provide our customers with a delicious pie
                and an overall satisfactory experience. Chefs Juan, Alfonso, and Trevor starting tossing
            dough at a young age. Please stop on by to try a slice or call our number to place an order
             at +1-656-123-4567. </h1>
    
        </div>

    </div>

</section>

<!-- ABOUT SECTION ENDS -->