<!-- FOOTER SECTION STARTS -->

<section class="footer">

    <div class="box-container">
        
        <div class="box">
            <h3 class="heading"> <span> QUICK LINKS </span> </h3>
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">MENU</a>
            <a href="#">ORDER NOW</a>
            <a href="#">ACCOUNT</a>
            <a href="#">CONTACT US</a>
        </div>
        
        <div class="box">
            <h3 class="heading"> <span> CONTACT US </span> </h3>
            <p> <i class="fas fa-map-marker-alt"> </i> CIUDAD JUAREZ, MEXICO, 32300 </p>
            <p> <i class="fas fa-envelope"> </i> JOSERONI_PIZZA@GMAIL.COM </p>
            <p> <i class="fas fa-globe"> </i> WWW.JOSERONI.COM </p>
        </div>
    </div>

</section>

<!-- FOOTER SECTION ENDS --><!-- JQUERY CDN LINK-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- CUSTOM JS FILE LINK-->
<script src="/Users/alfonsoguaderrama/Documents/GitHub/PIZZA/node_modules/main.js"></script>