<div class="loginbox">
    <img src="/Users/alfonsoguaderrama/Documents/GitHub/PIZZA/user-1633249_1280.png" class="avatar">
    <h1>LOGIN HERE</h1>
    <form>
        <p>USERNAME</p>
        <input type="text" name="" placeholder="ENTER USERNAME">
        <p>PASSWORD</p>
        <input type="password" name="" placeholder="ENTER PASSWORD">
        <input type="submit" name="" value="Login"> 
        <a href="#">LOST YOUR PASSWORD?</a><br>
        <a href="#">NEED AN ACCOUNT?</a>
    </form>
</div>