<!-- HOME SECION STARTS -->

<section class="home" id="home">

    <div class="content">
        <h1>WELCOME TO <span> JOSE RONI </span> PIZZA </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi maxime optio est molestiae voluptatum quam eos molestias rerum, praesentium, incidunt iste laudantium. Magni sed ab optio odio iste ullam hic?</p>
        <a href="/ordernow"><button class="btn">ORDER NOW!</button></a>
    </div>

    <div class="shape"></div>

</section>

<!-- HOME SECION ENDS -->