<div id="formContainer">
    <form id="form" action="app/login" method="post" class="container">
    
        <input type="text" placeholder="Enter First Name" name="fname" id="firstname" required>

        <input type="text" placeholder="Enter Last Name" name="lname" id="lastname" required>

        <input type="email" placeholder="Enter Email" name="email" id="email" required>

        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <input type="text" placeholder="Enter Your Address" name="address" id="address" required>
  
        <input type="text" placeholder="Enter Your Phone" name="phone" id="phone" required>

        <input type="text" placeholder="Enter Your Credit Card Number" name="creditcard" id="creditcard" required>

        <button type="submit" name="submit" class="btn form-btn" id="submit">Login</button>
    </form>
</div>