
<div class="loginbox">
    <img src="../../../assets/images/user.png" class="avatar">
    <h1>LOGIN HERE</h1>
    <form id="form" action="app/login" method="post" class="container">
        <p>USERNAME</p>
        <input type="text" placeholder="ENTER USERNAME" name="email" id="email" [(ngModel)] = "email" required>
        <p>PASSWORD</p>
        <input type="password" placeholder="ENTER PASSWORD" name="password" id="password" [(ngModel)] = "password" required>
        <input (click) = validateUser() type="submit" id="submit" name="" value="LOGIN"> 
        <a href="#">LOST YOUR PASSWORD?</a><br>
        <a href="#">NEED AN ACCOUNT?</a>
    </form>
</div>