<!-- MENU SECTION STARTS -->

<section class="menu" id="menu"> 

    <h1 class="heading"> <span> JOSE'S MENU</span></h1>

    <ul class="controls">

        <li class="buttons button-active" data-filter="all">PIZZAS</li>

    </ul>

    <div class="image-container">

        <div class="image meats">
            <img src="../../../assets/images/Pepperoni.jpg" alt="">
            <a href="#">PEPPERONI</a>
            <p>$7.00</p>
            <a href="#"><button class="btn">ADD TO CART</button></a>
        </div>

        <div class="image meats">
            <img src="../../../assets/images/MeatLovers.jpg" alt="">
            <a href="#">MEAT LOVERS</a>
            <p>$10.00</p>
            <a href="#"><button class="btn">ADD TO CART</button></a>
        </div>

        <div class="image meats">
            <img src="../../../assets/images/Bacon.jpg" alt="">
            <a href="#">BACON</a>
            <p>$7.00</p>
            <a href="#"><button class="btn">ADD TO CART</button></a>
        </div>

        <div class="image meats">
            <img src="../../../assets/images/Sausage.jpg" alt="">
            <a href="#">SAUSAGE</a>
            <p>$7.00</p>
            <a href="#"><button class="btn">ADD TO CART</button></a>
        </div>

        <div class="image chicken">
            <img src="../../../assets/images/Chicken.jpg" alt="">
            <a href="#">BUFFALO CHICKEN</a>
            <p>$7.50</p>
            <a href="#"><button class="btn">ADD TO CART</button></a>
        </div>

        <div class="image chicken">
            <img src="../../../assets/images/BBQ.jpg" alt="">
            <a href="#">BBQ CHICKEN</a>
            <p>$7.50</p>
            <a href="#"><button class="btn">ADD TO CART</button></a>
        </div>

        <div class="image veggies">
            <img src="../../../assets/images/Veggies.jpg" alt="">
            <a href="#">VEGGIES</a>
            <p>$6.00</p>
            <a href="#"><button class="btn">ADD TO CART</button></a>
        </div>

        <div class="image veggies">
            <img src="../../../assets/images/Pineapple.jpg" alt="">
            <a href="#">PINEAPPLE</a>
            <p>$6.00</p>
            <a href="#"><button class="btn">ADD TO CART</button></a>
        </div>
    </div>
</section>

<!-- MENU SECTION ENDS -->