<!-- CART ITEMS START -->

<div class="small-container cart-page">
    <table>
        <tr>
            <th>PRODUCT</th>
            <th>QUANTITY</th>
            <th>SUBTOTAL</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="/Users/alfonsoguaderrama/Documents/GitHub/PIZZA/MeatLovers.jpg" alt="">
                    <div>
                        <p>MEAT LOVERS PIZZA</p>
                        <small>PRICE: $10.00</small>
                        <a href="">REMOVE</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$10.00</td>
        </tr>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>SUBTOTAL</td>
                <td>$10.00</td>
            </tr>
            <tr>
                <td>TAX</td>
                <td>6.25%</td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td>$10.62</td>
            </tr>
        </table>
    </div>
</div>

<!-- CART ITEMS ENDS -->
